[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future = "*"
futures = "*"
lxml = "*"
nose = "*"
protobuf = ">=3.2"
pymavlink = "==2.4.14"
pyserial = "*"
requests = "*"
LatLon = "*"

[dev-packages]

[requires]
python_version = "3.9"
